*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: rgb(85, 0, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
.container .btn{
    width: 80px;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(192, 190, 190, 0.567);
}
#inValor{
    background-color: rgba(114, 111, 111, 0.307);
    width: 100%;
    padding: 5px;
    margin: 15px;
    border: none;
    outline: none;
    font-size: 30px;

    text-align: right;
}
