*{
    box-sizing: border-box;
    outline: 0;
    

}

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(30, 103, 116);
    display: flex;
    justify-content: center;
    font-size: 62.5%;
}

.container{
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    
    
}

.container-box{
    display: flex;
    gap: 50px;
}


.container> h1 {
    color: rgb(0, 0, 0);
    margin-bottom:0px ;
    font-size: 1rem;
}
.container-box>.list>h2{
    color: rgb(0, 0, 0);
    margin-bottom:0px ;
    font-size: 0.7rem;
}

.container>p{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.container>form>input , label , button{
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;
}
form{
    margin-top: 0.7rem;
}
form > input{
    height: 25px;
}
form>button{
    background-color: rgb(30, 103, 116);
    height: 30px;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 0.8rem;
}

form>button:hover{
    
    background-color: white;
    color: black;
    border: 1px solid black;
    
}

